<div class="footer">
    <div class="container">
    <div class="row">
        
        <div class="col-md-3">
            <h1>Redes Sociais</h1>
                <p></p>
                <div class="redesSociais">
                    <a href="https://www.linkedin.com/in/gabriel-siqueira-37183823a/" class="btn-outline-primary" target="_blank" rel="external"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/siqueira_gabriel_sbs/" class="btn-outline-danger" target="_blank" rel="external"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/SiqueiraGabriel" class="btn-outline-dark" target="_blank" rel="external"><i class="fab fa-github"></i></a>
                </div>
        </div>
        <div class="col-md-3">
          <h1>Brasil</h1>
          <ul>
            <li><a href="/estados/" class="link" target="_self">Estados</a></li>
            <li><a href="/regiao/" class="link" target="_self">Região</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <h1>Mundial</h1>
        <ul>
            <li><a href="/paises/" class="link" target="_self">Países</a></li>
            <li><a href="/bloco_economico/" class="link" target="_self">Bloco Econômico</a></li>
        </ul>
    </div>
    <div class="col-md-3">
      <h1>Outros</h1>
      <ul>
        <li><a href="/movimentacao/" class="link" target="_self">Movimentação</a></li>
        <li><a href="/tipo_atividade/" class="link" target="_self">Tipo Atividade</a></li>
        <li><a href="/ncm/" class="link" target="_self">Ncm</a></li>

    </ul>
  </div>
        
    </div>
  </div>
  
  <footer style="text-align: center;">&copy; Gabriel Siqueira - 2023</footer>
  </div>