{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="jumbotron-header">{{ movimentacao.mes }}</h1>
</div>



<div class="container mt-5" onload="start()">
    <ul class="m-0 nav nav-fill nav-justified nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation"> <button class="active nav-link" id="home-tab" data-bs-toggle="tab"
                data-bs-target="#impo" type="button" role="tab" aria-controls="home" aria-selected="true"> <i
                    class="fas fa-home"></i> Importação </button> </li>
        <li class="nav-item" role="presentation"> <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#expo" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Exportação </button> </li>
        <!--<li class="nav-item" role="presentation"> <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#detalhe" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Detalhes </button> </li>-->
    </ul>
    <div class="border-grey bg-white p-3 tab-content">
        <div class="tab-pane active" id="impo" role="tabpanel" aria-labelledby="impo-tab">
            <div class="table-content">
                <h3 class="table-title">Principais Estados</h3>
                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>Estado</th>
                        <th>Qtd. Movimentações</th>
                        <th>Total Valor Fob (USD)</th>
                        <th>Média Valor Fob (USD)</th>
                        <th>Qtd. Forma de Transporte </th>
                    </tr>
                    {% for e in movimentacao.estadoImportacao %}
                    <tr>
                        <td><a class="table-link" href="../../estados/{{ e.eId }}">{{ e.eNome }}</a></td>
                        <td>{{ e.qtdMovimentacao }}</td>
                        <td>{{ e.totalFob}}</td>
                        <td>{{ e.mediaFob }}</td>
                        <td>{{ e.qtdFormaTransporte }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Países</h3>
                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>Estado</th>
                        <th>Qtd. Movimentações</th>
                        <th>Total Valor Fob (USD)</th>
                        <th>Média Valor Fob (USD)</th>
                    </tr>
                    {% for a in movimentacao.paisImportacao %}
                    <tr>
                        <td><a class="table-link" href="../../paises/{{ a.pId }}">{{ a.pNome }}</a></td>
                        <td>{{ a.qtdMovimentacao }}</td>
                        <td>{{ a.totalFob}}</td>
                        <td>{{ a.mediaFob }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Atividades</h3>
                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>NCM</th>
                        <th>Qtd. Movimentações</th>
                        <th>Valor Total Fob (USD)</th>
                        <th>Descrição</th>
                    </tr>
                    {% for ativ in movimentacao.atividadeImportacao %}
                    <tr>
                        <td><a class="table-link" href="../../ncm/{{ ativ.codNcm}}">{{ ativ.codNcm }}</a></td>
                        <td>{{ ativ.qtdMovimentacao }}</td>
                        <td>{{ ativ.totalFob }}</td>
                        <td>{{ ativ.NcmNome }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Formas de Transporte</h3>
                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>Nome</th>
                        <th>Qtd. Movimentações</th>
                        <th>Valor Total Fob (USD)</th>
                    </tr>

                    {% for ativ in movimentacao.transporteImportacao %}
                    <tr>
                        <td>{{ ativ.formaTransporte }}</td>
                        <td>{{ ativ.qtdMovimentacao }}</td>
                        <td>{{ ativ.totalFob }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="tab-pane" id="expo" role="tabpanel" aria-labelledby="expo-tab">
            <div class="table-content">
                <h3 class="table-title">Principais Estados</h3>

                <table class="table table-condensed">
                    <tr class="table table-header">
                        <th>Estado</th>
                        <th>Qtd. Movimentações</th>
                        <th>Total Valor Fob (USD)</th>
                        <th>Média Valor Fob (USD)</th>
                        <th>Qtd. Forma de Transporte </th>
                    </tr>
                    {% for e in movimentacao.estadoExportacao %}
                    <tr>
                        <td><a class="table-link" href="../../estados/{{ e.eId }}">{{ e.eNome }}</a></td>
                        <td>{{ e.qtdMovimentacao }}</td>
                        <td>{{ e.totalFob}}</td>
                        <td>{{ e.mediaFob }}</td>
                        <td>{{ e.qtdFormaTransporte }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Atividades</h3>

                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>NCM</th>
                        <th>Qtd. Movimentações</th>
                        <th>Valor Total Fob (USD)</th>
                        <th>Descrição</th>
                    </tr>
                    {% for ativ in movimentacao.atividadeExportacao %}
                    <tr>
                        <td><a class="table-link" href="../../ncm/{{ ativ.codNcm}}">{{ ativ.codNcm }}</a></td>
                        <td>{{ ativ.qtdMovimentacao }}</td>
                        <td>{{ ativ.totalFob }}</td>
                        <td>{{ ativ.NcmNome }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Países</h3>
                <table class="table table-condensed">
                    <tr class="table-header">
                        <th>Estado</th>
                        <th>Qtd. Movimentações</th>
                        <th>Total Valor Fob (USD)</th>
                        <th>Média Valor Fob (USD)</th>
                    </tr>
                    {% for a in movimentacao.paisExportacao %}
                    <tr>
                        <td><a class="table-link" href="../../paises/{{ a.pId }}">{{ a.pNome }}</a></td>
                        <td>{{ a.qtdMovimentacao }}</td>
                        <td>{{ a.totalFob}}</td>
                        <td>{{ a.mediaFob }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-content">
                <h3 class="table-title">Principais Formas de Transporte</h3>
                <table class="table table-content">
                    <tr class="table-header">
                        <th>Nome</th>
                        <th>Qtd. Movimentações</th>
                        <th>Valor Total Fob (USD)</th>
                    </tr>

                    {% for ativ in movimentacao.transporteExportacao %}
                    <tr>
                        <td>{{ ativ.formaTransporte }}</td>
                        <td>{{ ativ.qtdMovimentacao }}</td>
                        <td>{{ ativ.totalFob }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

           


        </div>
        <div class="tab-pane" id="detalhe" role="tabpanel" aria-labelledby="detalhe-tab">

            <div class="table-content">
                
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}